@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.woff2") format("woff2");
}

@font-face {
  font-family: "vazir-bold";
  src: url("../fonts/vazir-bold.woff2") format("woff2");
}

svg {
  width: 20px;
  height: 20px;
}

body {
  font-family: "vazir";
  direction: rtl;
  text-align: right;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.bg-light {
  background-color: #0984e3 !important;
}

.bold-font {
  font-family: "vazir-bold";
}

.navbar-nav {
  padding-right: 36px;
}

.navbar-toggler {
  border: 1px solid #f5f5f5;
  outline: 0;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px #f5f5f5;
}

.profile {
  width: 380px;
}

.blue-color {
  color: #0984e3;
}

.bold-text {
  font-family: "vazir-bold";
}

.text {
  color: #333;
}

.social {
  fill: #222;
  transition: all 0.2s ease-in-out;
}

.social svg {
  width: 23px;
  height: 23px;
}

.social:hover {
  fill: #0984e3;
}

.progress {
  height: 10px;
}

.service-icon svg {
  fill: #0984e3;
  width: 35px;
  height: 35px;
}

.bigger-service-icon svg {
  fill: #0984e3;
  width: 40px;
  height: 40px;
}
