:root {
  --primary: #0d6efd;
}

@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir.woff2") format("woff2");
}

@font-face {
  font-family: "vazir-bold";
  src: url("../fonts/vazir-bold.woff2") format("woff2");
}

svg {
  width: 20px;
  height: 20px;
}

body {
  font-family: "vazir";
  direction: rtl;
  text-align: right;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}

.bold-font {
  font-family: "vazir-bold";
}

.navbar-nav {
  padding-right: 36px;
}

.navbar-toggler {
  border: 1px solid #f5f5f5;
  outline: 0;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 2px #f5f5f5;
}

.profile {
  width: 380px;
}

.bold-text {
  font-family: "vazir-bold";
}

.text {
  color: #333;
}

.social {
  fill: #222;
  transition: all 0.2s ease-in-out;
}

.social svg {
  width: 27px;
  height: 27px;
}

.social:hover {
  fill: var(--primary);
}

.progress {
  height: 10px;
}

.service-icon svg {
  fill: var(--primary);
  width: 35px;
  height: 35px;
}

.bigger-service-icon svg {
  fill: var(--primary);
  width: 40px;
  height: 40px;
}

.text-light {
  color: #fefefe !important;
}

.rating svg {
  fill: var(--primary);
}

.contact-item .icon svg {
  fill: var(--primary);
  width: 30px;
  height: 30px;
}

.footer svg {
  fill: #333;
  width: 14px;
  height: 14px;
  margin-left: 3px;
}
